parameters:

    paths:
        - app/

    level: 6

    ignoreErrors:
    	- '#Parameter .* of method Illuminate\\Support\\Collection.*#'
    	- '#Call to an undefined static method App\\Models.*#'

    excludePaths:
        - app/Providers/RouteServiceProvider.php
        - app/Http/Middleware/RedirectIfAuthenticated.php


